In [ ]:
1. Write a Python program to sum all the items 
Sample Output 
[1,7,-10,34,2,-8] 
Sum all the items = 26

In [3]:
list=[1,7,-10,34,2,-8]
Total=sum(list)
print("sum all the items : " ,Total)

sum all the items :  26

In [ ]:
2. Write a Python program to multiply all the items in a list 
[3,4,5,4,7] 
Multiply all the items in a list : 1680

In [6]:
item=[3,4,5,4,7]
total=1
for i in item:
    total=total*i
print("Multiply all the items in a list :",total)

Multiply all the items in a list : 1680

In [ ]:
3. Write a Python program to get the largest number from a list 
Sample Output 
[1,7,10,34,2,8] 
Largest Number : 34

In [7]:
list=[1,7,10,34,2,8]
largest_num=list[3]
print("Largest Number :",largest_num)

Largest Number : 34

In [8]:
list=[1,7,10,34,2,8]
max=list[0]
for i in list:
    if i>max:
        max=i
print("Largest Number :",max)

Largest Number : 34

In [ ]:
4. Write a Python program to get the smallest number from a list 
Sample Output 
[51,7,10,34,2,8] 
Smallest Number : 2

In [9]:
l=[51,7,10,34,2,8] 
min=l[0]
for i in l:
    if i < min:
        min=i
print("samllest number:",min)

samllest number: 2

In [12]:
l=[51,7,10,34,2,8]
print("smallest number: ",l[4])## By using slicing

smallest number:  2

In [ ]:
5. Write a Python program to count the number of strings where the string length is 2 or 
more and the first and last character are same from a given list of strings 
Sample Output 
List Exercise 
 
['abc', 'xyz', 'aba', '1221'] 
First and Last Character are same : 2

In [ ]:
6. Write a Python program to remove duplicates from a list 
Sample Output 
[1,2,3,7,2,1,5,6,4,8,5,4] 
{1,2,3,4,5,6,7,8}

In [14]:
a=[1,2,3,7,2,1,5,6,4,8,5,4] 
b=set(a)
print(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
7. Write a Python program to check a list is empty or not 
Sample Output 
[34,45,6,5,4,56,7] 
List is Not Empty

In [15]:
a=[34,45,6,5,4,56,7]
if a:
    print("List is not Empty")
else:
    print("List is Empty")

List is not Empty

In [16]:
a=[]
if a:
    print("List is not Empty")
else:
    print("List is Empty")

List is Empty

In [ ]:
8. Write a Python program to clone or copy a list 
Sample Output 
[10, 22, 44, 23, 4] 
Clone or Copy a List : [10, 22, 44, 23, 4]

In [11]:
old_list=[10, 22, 44, 23, 4]
new_list=list(old_list)
print("Old List : ",old_list)
print("New List : ",new_list)

Old List :  [10, 22, 44, 23, 4]
New List :  [10, 22, 44, 23, 4]

In [ ]:
9. Write a Python program to find the list of words that are longer than n from a given list 
of words 
Sample Output 
Find the List of Words that are Longer than n from a given List of Words 
Given value of n = 4 
['Words', 'Longer', 'given', 'Words']

In [23]:
n=4
str="Find the List of Words that are Longer than n from a given List of Words"
new_list = []
text = str.split(" ")
for x in text:
    if len(x) > n:
        new_list.append(x)
print(new_list)

['Words', 'Longer', 'given', 'Words']

In [ ]:
-=910. Write a Program that get two lists as input and check if they have at least one common 
member 
Sample Output 
[1,2,3,4,5] 
[5,6,7,8,9]

In [24]:
list1=[1,2,3,4,5]
list2=[5,6,7,8,9]
result = False
for x in list1:
for y in list2:
    if x == y:
        result = True
        print(result)
if result:
    print("Lists have at least one common member")
else:
    print("Lists do not have any common member")

True
Lists have at least one common member

In [ ]:
 
11. Write a Python program to print a specified list after removing the 0th, 4th and 5th 
elements. (enumerate) 
Sample Output 
["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"] 
['Dog', 'Elephant', 'Fox', 'Ponda']

In [30]:
animal=["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"] 
animal = [x for (i,x) in enumerate(animal) if i not in (0,4,5)]
print(animal)

['Dog', 'Elephant', 'Fox', 'Ponda']

In [ ]:
12. Write a Python program to print the numbers of a specified list after removing even 
numbers from it 
Sample Output 
[7,32,81,20,25,14,23,27]

In [36]:
n = [7,32,81,20,25,14,23,27]
for i in n:
    if i%2!=0:
print(n)

IndentationError: expected an indented block (Temp/ipykernel_22896/404040981.py, line 4)

In [ ]:
13. Write a Python program to shuffle and print a specified list (shuffle) 
Sample Output 
["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"] 
['Fox', 'Cat', 'Tiger', 'Lion', 'Dog', 'Ponda', 'Elephant']

In [39]:
from random import shuffle
animal=["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]
shuffle(animal)
print(animal)

['Elephant', 'Fox', 'Ponda', 'Dog', 'Lion', 'Cat', 'Tiger']

In [ ]:
14. Write a Python program to generate and print a list of first and last 5 elements where 
the values are square of numbers between 1 and 30 
Sample Output 
First 5 elements : [1, 4, 9, 16, 25] 
Last 5 elements : [625, 676, 729, 784, 841]

In [41]:
l=[]
for i in range(1,30):
    l.append(i**2)
print(l[:5])
print(l[-5:])

[1, 4, 9, 16, 25]
[625, 676, 729, 784, 841]

In [ ]:
15. Write a Python program to generate all permutations of a list in Python. (itertools) 
Sample Output 
[1,2,3] 
[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [10]:
import itertools
print(list(itertools.permutations([1,2,3])))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [ ]:
16. Write a Python program to convert a list of characters into a string 
Sample Output 
['T','u','t','o','r',' ','J','o','e','s']

In [49]:
a=['T','u','t','o','r',' ','J','o','e','s']
b=''.join(a)
print(b)

Tutor Joes

In [ ]:
17. Write a Python program to find the index of an item in a specified list 
Sample Output 
[20, 70, 30, 90, 10, 30, 90, 10, 80] 
Item to find the index of 30 
Index Number of Item = 2

In [50]:
s=[20, 70, 30, 90, 10, 30, 90, 10, 80]
s[2]

30

In [51]:
s=[20, 70, 30, 90, 10, 30, 90, 10, 80]
print(s.index(30))

2

In [ ]:
18. Write a Python program to flatten a shallow list 
Sample Output 
[[20,30,70],[30,90,10], [30,20], [70,90,10,80]] 
[20, 30, 70, 30, 90, 10, 30, 20, 70, 90, 10, 80]

In [ ]:
19. Write a Python program to add a list to the second list 
Sample Output 
[10, 20, 30, 40] 
["Cat", "Dog", "Lion", "Ponda"] 
[10, 20, 30, 40, 'Cat', 'Dog', 'Lion', 'Ponda']

In [53]:
a=[10, 20, 30, 40] 
b=["Cat", "Dog", "Lion", "Ponda"] 
c=a+b
print(c)

[10, 20, 30, 40, 'Cat', 'Dog', 'Lion', 'Ponda']

In [ ]:
20. Write a Python program to select an item randomly from a list Using random.choice() 
Sample Output 
["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"] 
Item randomly from a list : Fox

In [56]:
import random
animal=["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"] 
random.choice(animal)

'Lion'

In [ ]:
21. Write a python program to check whether two lists are circularly identical 
Sample Output 
[8, 8, 12, 12, 8] 
[8, 8, 8, 12, 12] 
[1, 8, 8, 12, 12] 
Compare List1 and List2 : True 
Compare List1 and List3 : False

In [9]:
list1 = [8, 8, 12, 12, 8]
list2 = [8, 8, 8, 12, 12]
list3 = [1, 8, 8, 12, 12]
 
print("Compare List1 and List2 : ",' '.join(map(str, list2)) in ' '.join(map(str, list1 * 2)))
print("Compare List1 and List3 : ",' '.join(map(str, list3)) in ' '.join(map(str, list1 * 2)))

Compare List1 and List2 :  True
Compare List1 and List3 :  False

In [ ]:
22. Write a Python program to find the second smallest number in a list 
Sample Output 
[2,4,56,78,4,34,5,8,9] 
Second Smallest Number : 4

In [58]:
a=[2,4,56,78,4,34,5,8,9]
second_smallest_number=a[1]
print(second_smallest_number)

4

In [ ]:
23. Write a Python program to find the second largest number in a list 
Sample Output 
[82,4,56,78,4,34,5,100,9] 
Second Largest Number : 82

In [59]:
a=[82,4,56,78,4,34,5,100,9] 
second_largest_number=a[0]
print(second_largest_number)

82

In [ ]:
24. Write a Python program to get unique values from a list 
Sample Output 
[82, 4, 10, 56, 78, 4, 34, 5, 10, 9] 
[34, 4, 5, 9, 10, 78, 82, 56]

In [8]:
s=[82, 4, 10, 56, 78, 4, 34, 5, 10, 9] 
l=set(s)
l=list(l)
print(l)

[34, 4, 5, 9, 10, 78, 82, 56]

In [7]:
l = [ 82,4,10,56,78,4,34,5,10,9]
print("Original List : ",l)
s = set(l)
new_list = list(s)
print("Unique Numbers : ",new_list)

Original List :  [82, 4, 10, 56, 78, 4, 34, 5, 10, 9]
Unique Numbers :  [34, 4, 5, 9, 10, 78, 82, 56]

In [ ]:
25. Write a Python program to get the frequency of the elements in a list. 
Sample Output 
[10, 30, 50, 10, 20, 60, 20, 60, 40, 40, 50, 50, 30] 
Counter({50: 3, 10: 2, 30: 2, 20: 2, 60: 2, 40: 2})

In [66]:
import collections
a=[10, 30, 50, 10, 20, 60, 20, 60, 40, 40, 50, 50, 30] 
f=collections.Counter(a)
print("Frequency of the element :",f)

Frequency of the element : Counter({50: 3, 10: 2, 30: 2, 20: 2, 60: 2, 40: 2})

In [ ]:
26. Create a list by concatenating a given list which range goes from 1 to n 
Sample Output 
['T', 'J'] 
N = 10 
 
['T1', 'J1', 'T2', 'J2', 'T3', 'J3', 'T4', 'J4', 'T5', 'J5', 'T6', 'J6', 'T7', 'J7', 'T8', 'J8', 'T9', 'J9', 'T10', 'J10']

In [67]:
ch = ['T', 'J']
n = 10
new_list = ['{}{}'.format(a, b) for b in range(1, n+1) for a in ch]
print(new_list)

['T1', 'J1', 'T2', 'J2', 'T3', 'J3', 'T4', 'J4', 'T5', 'J5', 'T6', 'J6', 'T7', 'J7', 'T8', 'J8', 'T9', 'J9', 'T10', 'J10']

In [ ]:
27. Write a Python program to get variable unique identification number or string 
Sample Output 
x = 30 
s = "Tutor Joes" 
Unique Identification Number : 7005f980 
Unique Identification String : c24bb0

In [73]:
number = 30
print(format(id(number),'x'))
string= "Tutor Joes"
print(format(id(string),'x' ))

288343f6cd0
2883c15f170

In [ ]:
28. Write a Python program to find common items from two lists 
Sample Output 
[23,45,67,78,89,34] 
[34,89,55,56,39,67] 
Common items from two lists : {89, 34, 67}

In [74]:
a=[23,45,67,78,89,34]
b=[34,89,55,56,39,67] 
print(set(a) & set(b))

{89, 34, 67}

In [ ]:
29. Write a Python program to split a list based on first character of word 
Sample Output 
["cat", "dog", "cow", "tiger", "lion", "Fox", "Shark", "Snake", "turtle", "mouse", "monkey", 
"bear"] 
F 
     Fox 
S 
     Shark 
     Snake 
b 
     bear 
c 
     cat 
 
     cow 
d 
     dog 
l 
     lion 
m 
     monkey 
     mouse 
t 
     tiger 
     turtle

In [6]:
from itertools import groupby
from operator import itemgetter

word_list=["cat", "dog", "cow", "tiger", "lion", "Fox", "Shark", "Snake", "turtle", "mouse", "monkey", 
"bear"] 

for letter, words in groupby(sorted(word_list), key=itemgetter(0)):
    print(letter)
    for word in words:
        print(word)

F
Fox
S
Shark
Snake
b
bear
c
cat
cow
d
dog
l
lion
m
monkey
mouse
t
tiger
turtle

In [ ]:
 
30. Write a Python program to select the odd number of a list 
Sample Output 
[1,2,4,3,6,7,5,8,9,7,8,9,10] 
[1, 3, 7, 5, 9, 7, 9]

In [78]:
n=[1,2,4,3,6,7,5,8,9,7,8,9,10] 
a=[]
for i in n:
    if(i%2==1):
        a.append(i)
print(a)

[1, 3, 7, 5, 9, 7, 9]

In [ ]:
31. Write a Python Program to count unique values inside a list 
Sample Output 
[10, 20, 30, 50, 80, 70, 70, 80, 10] 
No of Unique Items in List : 6

In [79]:
a = [10, 20, 30, 50, 80, 70, 70, 80, 10]
s = set(a)
print("No of Unique Items in List :", len(s))

No of Unique Items in List : 6

In [80]:
a = [10, 20, 30, 50, 80, 70, 70, 80, 10]
l = []
count = 0
for i in a:
	if i not in l:
		count += 1
		l.append(i)
 
print("No of Unique Items in List :", count)

No of Unique Items in List : 6

In [ ]:
32. Write a Python Program to List product excluding duplicates 
Sample Output 
[2, 1, 2, 4, 6, 4, 3, 2, 1] 
Duplication removal list product : 144

In [5]:
a=[2, 1, 2, 4, 6, 4, 3, 2, 1] 
b=list(set(a))
p=1
for i in b:
    p*=i
 
print ("Duplication removal list product : ",p)

Duplication removal list product :  144

In [ ]:
33. Write a Python Program to Extract elements with Frequency greater than K 
Sample Output 
[4, 6, 4, 3, 3, 4, 3, 7, 8, 8]

In [3]:
test_list=[4,6,4,3,3,4,3,7,8,8]
print("The original list is: ",test_list)
k=2
res=[]
for i in test_list:
    freq=test_list.count(i)
    if freq>k and i not in res:
        res.append(i)
print("The required element: ",res)

The original list is: [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
The required element: [4, 3]

In [ ]:
34. Write a Python Program to Test if List contains elements in Range 
Sample Output 
[4, 5, 6, 7, 3, 9] 
Does list contain all elements in range : True

In [4]:
test_list = [4, 5, 6, 7, 3, 9]

print("The original list is : ", test_list)
 
i, j = 3, 10
 
res = all(ele >= i and ele < j for ele in test_list) 
 
print ("Does list contain all elements in range : ",res)

The original list is :  [4, 5, 6, 7, 3, 9]
Does list contain all elements in range :  True

In [ ]:
35. Write a Python program to check if the list contains three consecutive common 
numbers in Python 
Sample Output 
[18, 18, 18, 6, 3, 4, 9, 9, 9] 
Three Consecutive common numbers = 18, 9

In [82]:
a = [18, 18, 18, 6, 3, 4, 9, 9, 9]
l = len(a)
for i in range(l - 2):
    if a[i] == a[i + 1] and a[i + 1] == a[i + 2]:
        print(a[i])

18
9

In [ ]:
36. Write a Python program to find the Strongest Neighbour 
Sample Output 
[10,20,30,20,30,400] 
20 30 30 30 400

In [ ]:
37. Write a Python Program to print all Possible Combinations from the three Digits 
Sample Output 
[1, 2, 3]

In [83]:
a = [1, 2, 3]
for i in range(3):
    for j in range(3):
        for k in range(3):
            if (i!=j and j!=k and i!=k):
                print(a[i], a[j], a[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
38. Write a Python program to find all the Combinations in the list with the given condition 
Sample Output 
['Tutor Joes', ['Software', 'Computer'], ['Solution', 'Education']] 
[ ['Tutor Joes', 'Software', 'Solution'], ['Tutor Joes', 'Computer', 'Education'] ]

In [ ]:
39. Write a Python program to get all unique combinations of two Lists 
Sample Output 
['A','B','C'] 
[1,2,3]

In [1]:
list_1 = ["a", "b", "c"]
list_2 = [1, 2, 3]
 
unique_combinations = []
 
for i in range(len(list_1)):
    for j in range(len(list_2)):
        unique_combinations.append((list_1[i], list_2[j]))
 
print(unique_combinations)

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3), ('c', 1), ('c', 2), ('c', 3)]

In [ ]:
40. Write a Python program to remove all the occurrences of an element from a list 
Sample Output 
[1, 3, 4, 6, 5, 1] 
[3, 4, 6, 5]

In [13]:
a=[1, 3, 4, 6, 5, 1]
for i in a:
    b=a.count(i)
    if b>1:
        a.remove(i)
a

[3, 4, 6, 5, 1]

In [14]:
val = [1, 3, 4, 6, 5, 1]
a = 1
print ("Original list :" ,val)
c = val.count(a)
for i in range(c):
    val.remove(a)
print ("Remove operation :" , val)

Original list : [1, 3, 4, 6, 5, 1]
Remove operation : [3, 4, 6, 5]

In [ ]:
41. Write a Python Program to Remove Consecutive K element records

In [ ]:
42. Write a Python Program to Replace index elements with elements in Other List 
Sample Output 
['Tutor Joes', 'Computer', 'Education'] 
[2, 1, 0, 1, 0, 2, 2, 0, 1, 0, 1, 2] 
['Education', 'Computer', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Education', 'Education', 'Tutor 
Joes', 'Computer', 'Tutor Joes', 'Computer', 'Education']

In [15]:
a = ['Tutor Joes', 'Computer', 'Education']
b = [2 ,1 ,0 ,1 ,0 ,2 ,2 ,0 ,1 ,0 ,1 ,2]
print("List 1 : " , a)
print("List 2 : " , b)
res = [a[i] for i in b]
 
print ("After Index Elements Replacements is : " ,res)

List 1 :  ['Tutor Joes', 'Computer', 'Education']
List 2 :  [2, 1, 0, 1, 0, 2, 2, 0, 1, 0, 1, 2]
After Index Elements Replacements is :  ['Education', 'Computer', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Education', 'Education', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Computer', 'Education']

In [ ]:
43. Write a Python Program to Retain records with N occurrences of K

In [16]:
val = [(4, 5, 6, 5, 4), (4, 5, 3), (5, 5, 2), (3, 4, 9)]
print(val)
K = 5
N = 2
res = [e for e in val if e.count(K) == N]
 
print(res)

[(4, 5, 6, 5, 4), (4, 5, 3), (5, 5, 2), (3, 4, 9)]
[(4, 5, 6, 5, 4), (5, 5, 2)]

In [ ]:
44. Write a Python Program to Swap elements in String list 
Sample Output

In [17]:
s = ["Tutor","joes","Computer","Education"]
 
print("Before Swap :",s)
 
res = [sub.replace("joes","Joe's").replace("Computer", "Software").replace("Education", "Solutions") for sub in s]
 
print ("After Swap : ",res)

Before Swap : ['Tutor', 'joes', 'Computer', 'Education']
After Swap :  ['Tutor', "Joe's", 'Software', 'Solutions']

In [ ]:
45. Write a Python program to reverse All Strings in String List

In [19]:
Original_list = ['Tutor', 'joes', 'Computer', 'Education']
print("Reversed list :",Original_list[::-1])

Reversed list : ['Education', 'Computer', 'joes', 'Tutor']

In [21]:
Original_list = ['Tutor', 'joes', 'Computer', 'Education']
res = [i[::-1] for i in Original_list]
print ("Reversed list : " , res)

Reversed list :  ['rotuT', 'seoj', 'retupmoC', 'noitacudE']